<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="verified-local-cache" value=".local-nuget" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="verified-local-cache">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
